

.header {
    position: relative;
width: 1200px;
height: 750px;
outline: solid green;
}

.header-menu {
    background-color: rgba(105, 101, 101, 0.67);
    width: 25px;
height: 725px;

display: flex;
outline: solid red;
justify-content: center;
align-items: center;
}

.header-title {
    transform: rotate(-90deg);
    text-wrap: nowrap;
    color: #fff;
}

.header-list {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.header-menu:hover .header-list {
    opacity: 1;
}

.header-menu:hover .header-title {
    opacity: 0;
}

.header-menu:hover {
    width: 150px;
}

.header-link {
    text-decoration: none;
    color: #ffff;
}

.header-link:hover {
    color: gold;
    text-decoration: none;
}